<div class="post-card">
	<div class="tags">{''.join(['<p>'+i+'</p>' for i in tags.split(',')])}</div>
	<a class="title" href="{link}">{title}</a>
	<p>{summary}</p>
	<span class="date">{date}</span>
</div>
<hr>